/* Overrides */
body {
  margin: 0;
  padding: 0;
}

/* Fonts */

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/inter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('/assets/fonts/space-grotesk.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
